<div class="row"></div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Email</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let user of users; let i = index"
          [routerLink]="[user.id]"
          style="cursor:pointer;"
        >
          <td scope="row">{{ user.email }}</td>
          <td>
            <button
              class="btn btn-success"
              [routerLink]="['/edit-user', user.id]"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
